<a href="https://colab.research.google.com/github/Eli-sa-1983/Elisa_wild/blob/main/Elisa_2022_Checkpoint_1_data_FR_Paris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

C'est ton premier checkpoint.
Les 6 exercices sont indépendants. Tu peux donc les effectuer dans l'ordre que tu préfères.

Essaye de finir ce checkpoint en 4h. Si tu n'as pas tout fini, ce n'est pas grave. Tu pourras le reprendre plus tard, tu indiqueras simplement en commentaire ce que tu as fait a posteriori.
Nous t'avons indiqué des durées estimatives. Evidemment chacun a ses forces et ses faiblesses, avance donc à ton rythme. Cependant, si tu vois que tu dépasses une durée, ne reste pas bloqué, passe à l'exercice suivant. Tu pourras revenir à la fin sur ce que tu n'as pas fini.

In [ ]:


"""Bonjour j'ai commencé par Python, ensuite Panda sans finir la dernière question optionnel et j'ai repris SQL, mais je n'ai pas fini le tableur.
le vendredi à 16h (avec une pause dejeuner) j'ai fait le tableur et fini la dernière de Panda optionnelle """

#SQL - 45 min

A partir de la base de données client ci-dessous, crée une **requête SQL** qui fournit :

1.   les noms de chaque catégorie,
2.   le chiffre d'affaire associé à cette catégorie,
3.   et le prix moyen pondéré des produits vendus pour cette catégorie. 

Le chiffre d'affaire sera arrondi à l'unité la plus proche, et le prix moyen comportera 2 décimales.

Ce tableau devra être trié pour avoir les catégories avec le chiffre d'affaire le plus élevé en premier.


*** Voici le schéma de la base ***
*********************

![](https://github.com/murpi/wilddata/blob/master/quests/orders_schema.png?raw=true)




*** Voici les premières lignes attendues ***
*********************

Categories | Chiffre_d_affaire | Prix_moyen
- |:-: | -:
Beverages | 99465 | 43.45
Dairy Products | 69921 | 26.88
... | ... | ...

In [ ]:
# Exécute le code ci-dessous sans rien modifier
import requests
import sqlite3
import pandas as pd
r = requests.get('https://github.com/murpi/wilddata/blob/master/quests/orders.db?raw=true')
open('orders.db', 'wb').write(r.content)
conn = sqlite3.connect('orders.db')
def SQL(script):
    global conn
    return pd.read_sql(script, conn)

In [ ]:
# Modifie la requête SQL dans cette variable
script_sql = """
-- Ici tu peux écrire ton code SQL

SELECT CategoryName, round(sum(Quantity*price)) as chiffre_d_affaire, round(sum(price/quantity)) as panier_moyen
FROM products
JOIN order_details USING (ProductID)
JOIN categories USING (CategoryID)
GROUP BY CategoryName

"""


# Ne modifie rien ci-dessous pour obtenir le résultat de la requête
SQL(script_sql)

     CategoryName  chiffre_d_affaire  panier_moyen
0       Beverages            99465.0         167.0
1      Condiments            35072.0          70.0
2     Confections            54909.0         164.0
3  Dairy Products            69921.0         256.0
4  Grains/Cereals            22328.0         107.0
5    Meat/Poultry            51677.0         163.0
6         Produce            23401.0          96.0
7         Seafood            29652.0         128.0

# Tableur - 45 min

Le responsable du reporting mensuel est absent, et il faut absolument envoyer le reporting de chiffre d'affaire (quantité * prix de chaque produit) aujourd'hui... mais impossible de remettre la main sur le fichier du mois dernier !

Heureusement, tu as trouvé comment extraire les données, [tu les trouveras ici.](https://docs.google.com/spreadsheets/d/1T7zh6Swn4Yj8Feu-xcp-B7xeOQfBoBSWn7sRjx07GvI/edit?usp=sharing)

Tu vas maintenant devoir recréer un graphique qui ressemblera au maximum à celui-ci, mais en incluant les données du dernier mois. Tu en profiteras pour ajouter l'affichage des mois sous les colonnes. Tu essaieras au maximum d'utiliser les tableaux croisés dynamiques pour faire ca.

Tu incluras l'image du graphique dans ce notebook, et tu indiqueras également le lien de ton google spreadsheet (ou MS Excel online) que tu auras pris soin de partager.

![Tableur checkpoint](https://github.com/murpi/wilddata/raw/master/checkpoint1_withoutdate.png)

Mon lien https://docs.google.com/spreadsheets/d/1oLF7zz4y-nOk2lE7WGouJ_1pNMYm-v7PKOgSs7uNW60/edit#gid=493555298

![graphique_check.jpg]()

# Python : Algo 1 Météo - 30 min

Tu veux créer un script qui te dit comment t'habiller en fonction de la météo du jour :

## 1.1 Température
* S'il fait strictement plus de 19 degrés,  le script doit afficher "Prends un t-shirt"
* S'il fait entre 12 et 19 degrés inclus, le script doit afficher "Prends un pull"
* S'il fait strictement moins de 12 degrés, le script doit afficher "Prends un manteau"

La variable température contiendra un nombre entier (nous avons mis `14` par défaut, n'hésite pas à modifier cette valeur pour tester)

In [ ]:
temperature = 14

# Tu écriras ton script ici :

if temperature > 19 :
  print("Prends un t-shirt")
elif temperature <12 : 
  print("Prends un manteau")
elif 12<temperature<19 :
  print("Prends un pull")

Prends un pull

## 1.2 Pluie

Tu va recopier ton script de la question précédente (1.1) et le modifier pour intégrer la contrainte suivante :
* Si la variable `pluie` vaut "YES", alors le script affiche "Prends un manteau", quelle que soit la température.

In [ ]:
temperature = 14
pluie = "YES"

# Tu écriras ton script ici :
if pluie == "YES": 
  print("Prends un manteau")
if temperature > 19 :
  print("Prends un t-shirt")
elif temperature <12 : 
  print("Prends un manteau")
elif 12<temperature<19 :
  print("Prends un pull")

Prends un manteau
Prends un pull

## 1.3 Opérateurs logiques (optionnel)

Essaye d'écrire le script précédent (1.2) en utilisant au maximum une seule fois la commande `if` et au maximum une seule fois la commande `elif`.

In [ ]:
# Tu écriras ton script ici :
if pluie == "YES" and temperature > 19  : 
  print("Prends un manteau")
  print("Prends un t-shirt")
elif pluie == "YES" and temperature <12 :
  print("Prends un manteau") 
  print("Prends un manteau")
else : 
  print("Prends un manteau")
  print("Prends un pull")

Prends un manteau
Prends un pull

# Python : Algo 2 - 30 min

Un magasin importe des produits américains et les revend sur le marché européen. Il propose à ses clients un discount pour les produits les plus chers (10% de réduction à partir de 500 euros d'achat, 15% à partir de 1000 euros, et 20% à partir de 2000 euros).

Le magasin a une liste de prix en dollars et fait appel à tes services pour déterminer pour chaque prix, le montant que paiera le client en euros (après application de la remise).

## Python 2.1 dollar_to_euro
Crée une fonction `dollar_to_euro` qui prend en paramètre un nombre décimal et retourne le montant converti en euro (dans le sens dollar vers euro, prends le taux en vigueur le jour du checkpoint).

In [ ]:
from prompt_toolkit.application.application import Return
#le 14/10/2022 1$ = 1,02€

def f_dollar_to_euro(n) : 
  return n*120.0 / 100.0

f_dollar_to_euro(130)

156.0

## Python 2.2 discount
Crée une fonction `discount` qui prend en paramètre un nombre décimal et retourne le pourcentage de réduction :
- 0.10 si l'argument est supérieur à 500
- 0.15 si l'argument est supérieur à 1000
- 0.20 si l'argument est supérieur à 2000

In [ ]:
#ce que je comprends de l'énoncé

def f_discount(x) : 
  if x<500: 
    return 0.10*100
  elif 500<= x <1000 : 
    return 0.15*100
  elif x>=1000: 
    return 0.20*100
  
f_discount(1900)

20.0

In [ ]:
#la fonction qui va m'aider pour la question suivante

def f_discount2(x) : 
    if x<500: 
      return x-x*0.10
    elif 500<= x <1000 : 
      return x-x*0.15
    elif x>=1000: 
     return x-x*0.20

f_discount2(20)

18.0

## Python 2.3 Utilisation
Utilise tes deux fonctions pour **afficher une phrase** pour chacun des montants de cette liste de prix en dollars, indiquant le montant à payer en euros.
Tu dois donc appliquer d'abord la fonction de conversion pour obtenir des euros, puis la fonction de discount, puis afficher une phrase à partir du résultat.

In [ ]:
price_list = [256, 1458, 2387, 669, 508, 1365]


print(f'Après conversion et réduction, votre montant total est de {f_discount2(f_dollar_to_euro(256))} €')
print(f'Après conversion et réduction, votre montant total est de {f_discount2(f_dollar_to_euro(1458))} €')
print(f'Après conversion et réduction, votre montant total est de {f_discount2(f_dollar_to_euro(2387))} €')
print(f'Après conversion et réduction, votre montant total est de {f_discount2(f_dollar_to_euro(669))} €')
print(f'Après conversion et réduction, votre montant total est de {f_discount2(f_dollar_to_euro(508))} €')
print(f'Après conversion et réduction, votre montant total est de {f_discount2(f_dollar_to_euro(1365))} €')

# Python : Algo 3 - 1h

Ecris une fonction *monnaie_a_rendre()* qui prend deux arguments obligatoires : 
- montant de l'achat : float, supérieur à 0
- monnaie du client : integer, supérieur à 0

La fonction devra afficher la monnaie à rendre au client en un minimum de billets/pièces. 

Attention, si la monnaie du client est insuffisante (inférieure à l'achat), il faudra l'indiquer.

Exemple : 


```
monnaie_a_rendre(26.57 , 40)
>>> Nb billets 10 euros : 1
>>> Nb pièces 2 euros : 1
>>> Nb pièces 1 euro : 1
>>> Nb pièces 20 cents : 2
>>> Nb pièces 2 cents : 1
>>> Nb pièces 1 cent : 1
```

In [ ]:
# Ta fonction ici :
def monnaie_a_rendre2(achat, monnaie):
  if achat>= monnaie : 
    return"Nous n'avons pas assez de monnaie, vous pouvez payer en carte bancaire?"
  
    monnaie = [200, 100,50, 20, 10, 5, 2, 1, 0.5, 0.2, 0.1, 0.05, 0.02, 0.01]
    i=+1
    

  for i in [monnaie] : 
      valeur_m =monnaie-achat
      rendu =[]
      if valeur_m // i>0 : 
         rendu[i] = int(valeur_m // i) 
         valeur_m = valeur_m % i
  return rendu
    

monnaie_a_rendre2(40, 30)

"Nous n'avons pas assez de monnaie, vous pouvez payer en carte bancaire?"

In [ ]:
# Pour tester :
monnaie_a_rendre2(26.57, 40)

[]

# Pandas - 30 min
Exécute le code suivant, puis réponds aux questions.

Le DataFrame contient 3 colonnes.

In [ ]:
# Exécute le code ci-dessous sans rien modifier
import pandas as pd
temperatures_df = pd.read_csv("https://raw.githubusercontent.com/murpi/wilddata/master/temp2019.csv", skiprows = 3)
temperatures_df.index = temperatures_df["DATE"]
temperatures_df = temperatures_df[["MAX_TEMPERATURE_C", "MIN_TEMPERATURE_C", "WINDSPEED_MAX_KMH"]]
print("C'est chargé, ton DataFrame Pandas est disponible sous le nom de variable : temperatures_df")

C'est chargé, ton DataFrame Pandas est disponible sous le nom de variable : temperatures_df

In [ ]:
temperatures_df

            MAX_TEMPERATURE_C  MIN_TEMPERATURE_C  WINDSPEED_MAX_KMH
DATE
2019-01-01                  9                  4                 10
2019-01-02                  8                  5                 18
2019-01-03                  6                  0                 18
2019-01-04                  5                 -1                 15
2019-01-05                  6                 -1                  8
...                       ...                ...                ...
2019-12-27                 13                 10                 13
2019-12-28                 11                  5                 12
2019-12-29                  9                  2                 11
2019-12-30                 12                  4                  7
2019-12-31                 10                  4                 13

[365 rows x 3 columns]

## Question Pandas 1

In [ ]:
# Combien y a-t-il de lignes dans le DataFrame ?
"""Il y a 365 lignes"""

'Il y a 365 lignes'

## Question Pandas 2

In [ ]:
# Affiche la dernière ligne du DataFrame

temperatures_df.tail(1)

            MAX_TEMPERATURE_C  MIN_TEMPERATURE_C  WINDSPEED_MAX_KMH
DATE
2019-12-31                 10                  4                 13

In [ ]:
#ou
temperatures_df.iloc[-1:]

            MAX_TEMPERATURE_C  MIN_TEMPERATURE_C  WINDSPEED_MAX_KMH
DATE
2019-12-31                 10                  4                 13

## Question Pandas 3

In [ ]:
# Quelle a été la température minimale de la journée du 17 janvier 2019 ?

temperatures_df['MIN_TEMPERATURE_C']['2019-01-17']

5

In [ ]:
temperatures_df.loc['2019-01-17', 'MIN_TEMPERATURE_C']

5

## Question Pandas 4

In [ ]:
# Affiche un DataFrame avec les 3 colonnes et uniquement les jours où la vitesse du vent a été supérieure à 40 km/h
# Combien y a-t-il eu de jours concernés ?
df_vent_fort = temperatures_df['WINDSPEED_MAX_KMH']>40
temperatures_df[df_vent_fort]

            MAX_TEMPERATURE_C  MIN_TEMPERATURE_C  WINDSPEED_MAX_KMH
DATE
2019-03-04                 11                  7                 46
2019-06-07                 15                 13                 42
2019-09-29                 20                 13                 41

In [ ]:
temperatures_df[temperatures_df['WINDSPEED_MAX_KMH']>40]

            MAX_TEMPERATURE_C  MIN_TEMPERATURE_C  WINDSPEED_MAX_KMH
DATE
2019-03-04                 11                  7                 46
2019-06-07                 15                 13                 42
2019-09-29                 20                 13                 41

## Question Pandas 5 (OPTIONNEL)

In [ ]:
# Quelle a été la température minimale du mois de juin ?
temperatures_juin = temperatures_df['2019-06-01': '2019-06-30']
temperatures_juin['MIN_TEMPERATURE_C'].min()

7